doctype html
html(lang="es")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        meta(http-equiv='Expires' content='0')
        meta(http-equiv='Last-Modified' content='0')
        meta(http-equiv='Cache-Control' content='no-cache, mustrevalidate')
        meta(http-equiv='Pragma' content='no-cache')
        title Conversatorios Cayetano
        link(rel="stylesheet", href="./css/app.css")
        link(rel="stylesheet", href="https://unpkg.com/swiper/swiper-bundle.min.css")
        script(src='https://www.google.com/recaptcha/api.js' async='' defer='')
        //- script(async).
        //-     (function(h,o,t,j,a,r){
        //-     h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
        //-     h._hjSettings={hjid:3659234,hjsv:6};
        //-     a=o.getElementsByTagName('head')[0];
        //-     r=o.createElement('script');r.async=1;
        //-     r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
        //-     a.appendChild(r);
        //-     })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
        link(rel='preconnect' href='https://fonts.googleapis.com')
        link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
        link(href='https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap' rel='stylesheet')
    body
        .bloque1 
            
            img.nurse_bottom(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/09/especialidades-MOBILE-gracias-1.png", alt="especialidades-MOBILE-gracias-1", loading="lazy")
            img.nurse_topred(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/09/nurse_topred.png", alt="egel_enfermeria_image1", loading="lazy")
            img.bloque1_shield_desktop_blue(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/09/pge-gracias-blue.png", alt="egel_enfermeria_image1", loading="lazy")

            img.bloque1_logo_desktop(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/08/egel-logo-cayetano.webp", alt="egel-logo-cayetano", loading="lazy")
            .bloque1TitleContainer
                h3 ¡Gracias!
                h4 Una especialización es un paso clave en tu crecimiento profesional. Hemos recibido tus datos y
                    span  pronto te contactaremos.
        .bloque2
            
            img.bloque2_lp-gracias-triangulo-blue(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/09/lp-gracias-triangulo-blue.png", alt="lp-gracias-triangulo-blue", loading="lazy")
            .bloque2Title
                h3 Mientras esperas...
            .bloque2Container
                .bloque2__item
                    img(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/09/gracias-pge-icon1.webp", alt="gracias-pge-icon1", loading="lazy")
                    h3 Revisa tu bandeja de entrada o de spam para estar al tanto de la entrega.
                .bloque2__item
                    img(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/09/gracias-pge-icon2.webp", alt="gracias-pge-icon2", loading="lazy")
                    h3 Síguenos en redes sociales y descubre las últimas novedades y noticias de la comunidad herediana.
            
        .bloque3
            .bloque3__item
                .bloque3__item--line
                h3 Conoce más sobre la 
                    span Segunda Especialidad Profesional en Cirugía Bucal y Maxilofacial
                
                button
                    img(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/09/descargar-icon2.png", alt="")
                    h3 Descargar brochure
            .bloque3__item
                h3 ¿Necesitas una 
                    span respuesta rápida?
                
                button
                    img(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/09/gracias-pge-icon3.webp", alt="")
                    h3 Chatea con un asesor